* {
  box-sizing: border-box;
}


@media (min-width: 992px){
 #p1 {
   float:left;
    width: 33.3%;
  	
  }
  #p2 {
    float:left;
    width: 33.3%;
    
  }
   #p3 {
     float:left;
    width:16.6%;
     
    
  }

  
}
/*------ Tablet ------*/
@media (min-width: 768px) and (max-width: 991px){
#p1 {
    width: 33.3%;
  }
  #p2 {
    width: 33.3%;
  }
   #p3 {
    width: 46.1%;
  }
}
/*------ Mobile ------*/
@media (max-width: 767px){
#p1 {
    width: 100%;
  }
  #p2 {
    width: 100%;
  }
   #p3 {
    width: 100%;
  }
