*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
  /*desktop version*/
    @media (min-width: 992px) {
        .column-lg-12 {
            float: left;
            width: 100%;
        }
    }

    /*tablet version*/
    @media (min-width: 768px) and (max-width: 991px){
        .column-md-5 {
           float: left;
           width: 50%;
           margin-left: auto;
           margin-right: auto;
        }

        .column-md-6 {
            float: left;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    /*mobile version*/
    @media (max-width: 767px) {
        .column-sd-12 {
            float: left;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
